.bg-image-vertical {
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
